= render 'pages/home' unless user_signed_in?
%div
  %h3 Tags 
  - tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| 
    = link_to tag.name, tag_path(tag), class: css_class 

%div{id: "pins", class: "transitions-enabled"}
  - @pins.each do |pin| 
    = render partial: 'pin', locals: { pin: pin }

%div{class: "center"}
  = will_paginate @pins, renderer: BootstrapPagination::Rails
